# Config file

version = "0.0.1"
environment = "development" # development | production

[database]
driver = "mysql"
host = "localhost" # Pour docker : docker inspect <container name> | grep IPAddr
port = 3306
name = "myDatabase"
user = "myUser"
password = "myPassword"

[jwt]
secret = "mysecretkey"

[log]
filename = "gin.log"
nbFilesToArchive = 7

[server]
port = 8888
allowOrigins = [
    "http://localhost:8081",
]

[sql_log]
level = 1 # 0: no log, 1: only time, 2: time and query, 3: time, query and arguments (int64)
limit = 0.0 # 0.0: all requests, max query excecution time (float64)
displayOverLimit = false # Display log even if under limit
