# Config file

version = "1.0.0"
environment = "production" # development | production

[database]
driver = "mysql"
host = "" # Pour docker : docker inspect mariadb | grep IPAddr
port = 3306
name = ""
user = ""
password = ""
timezone = "Europe/Paris"
charset = "utf8mb4"
engine = "InnoDB"
maxOpenConnections = 5
maxIdleConnections = 3
maxLifetimeConnection = 60 # In minutes

[jwt]
secret = "mysecretkey"

[orm]
enabledLogs = true
maxIdleConnections = 5
maxOpenConnections = 10
maxLifetimeConnection = 60 # In minutes

[ssl]
certPath = 'cert.pem'
keyPath = 'key.pem'

[server]
port = 8888
readTimeout = 10 # In seconds
writeTimeout = 10 # In seconds
shutdownTimeout = 5 # In seconds
allowOrigins = [
    "http://localhost:8889",
]
pprof = false

[webSocketServer]
port = 8889

[log]
dirPath = "logs/" # Inside project dir
filename = "gin.log"
nbFilesToArchive = 7
enableAccessLog = true

[sql_log]
level = 1 # 0: no log, 1: only time, 2: time and query, 3: time, query and arguments (int64)
limit = 0.0 # 0.0: all requests, max query excecution time (float64)
displayOverLimit = false # Display log even if under limit
