{{- define "logs/index.gohtml" }}
    {{- template "layout/header.gohtml" . }}
    {{- template "logs/css.gohtml" . }}
    </head>

    <body>
        <div class="container-fluid">
            <h1>Logs</h1>
            <pre>{{ .accessLogs }}</pre>
            <pre>{{ .errorLogs }}</pre>
        </div>

        {{- template "logs/javascript.gohtml" }}
    </body>
    {{- template "layout/footer.gohtml" }}
{{- end }}
