{{- define "example/index.gohtml" }}
    {{- template "layout/header.gohtml" . }}
    </head>

    <body>
        <div>Hello <b>{{ .name }}</b></div>
    </body>
    {{- template "layout/footer.gohtml" }}
{{- end }}
