{{- define "layout/header.gohtml" }}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>
            {{- .title }}
            {{- if or (not .name) (ne .name "") }}
                 - {{- .name }}
            {{- end }}</title>
    </head>

    <body>
{{- end }}
